body{
    background-color: #333232;
}

#container {
    background-color: #0e2431;
    border : 6px solid #f5e4c3;
    height: 275px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 260px;
    font-size: 22px;
    background-color: rgb(192, 191, 191);
}

#output {
    margin: 25px auto;
    font-size: 26px;
    color: white;
}